<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Capstone Project</title>
</head>

<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <h1>Capstone Project</h1>
  <p>This is a static page for the capstone project from the Udacity full-stack nanodegree program.</p>
  <p>Currently, all the endpoint works without a front-end. Please read the README file .here.</p>
  <a href="https://github.com/Hadeel-Hassan/fsnd-capstone-project">Go to Github Repo</a>
  <br><br>
  <h5>Log in to copy the JWT from the URL.</h5>
    <a href="https://hadeel-fsnd.us.auth0.com/authorize?audience=http://localhost:5000/drinks&response_type=token&client_id=r4i8aOfjansZtcOAVAEYH6hxTiCIrX32&redirect_uri=http://localhost:5000" class="btn btn-primary">Log in</a>
</body>


</html>